<!-- wp:template-part {"slug":"header","theme":"cd_wp_base/cd-wp-base"} /-->

<!-- wp:cd/content {"name":"cd/content","data":{"field_68a35548a985c":"sidebar-left","field_68a5e2a0bc833":"1","field_68ab3968567b1":"edge"},"mode":"preview"} -->

<!-- wp:template-part {"slug":"sidebar-top","tagName":"div","className":"sidebar sidebar-priority","mode":"preview"} /-->

<!-- wp:cd/article {"name":"cd/article","mode":"preview"} -->
<!-- wp:cd/breadcrumb {"name":"cd/breadcrumb","mode":"preview"} /-->
<!-- wp:cd/title {"name":"cd/title","mode":"preview"} /-->
<!-- wp:post-content /-->
<!-- /wp:cd/article -->

<!-- wp:template-part {"slug":"sidebar-bottom","tagName":"div","className":"sidebar sidebar-secondary","mode":"preview"} /-->

<!-- /wp:cd/content -->

<!-- wp:template-part {"slug":"footer","theme":"cd_wp_base/cd-wp-base"} /-->
