<!-- wp:template-part {"slug":"header","theme":"cd_wp_base/cd-wp-base"} /-->

<!-- wp:cd/content-search {"name":"cd/content-search","data":{"field_68a35548a985c":"sidebar-left","field_68a5e2a0bc833":"1","field_68ab3968567b1":"edge"},"mode":"preview"} -->
<!-- wp:template-part {"slug":"sidebar-top","tagName":"div","className":"sidebar sidebar-priority"} /-->

<!-- wp:group {"className":"article"} -->
<div class="wp-block-group article"><!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Search Results for "search term"</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Sorry, no results were found.</p>
	<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar-bottom","tagName":"div","className":"sidebar sidebar-secondary"} /-->
<!-- /wp:cd/content-search -->

<!-- wp:template-part {"slug":"footer","theme":"cd_wp_base/cd-wp-base"} /-->
