// CDS Component: Common CMS Fields
// ---------------------------------------------------------------------------
// 01. Metadata
// 02. 
// 03. 
// 06. 
// 05. 
// 06. 
// 07. 
// 08. 
// 09. 
// 10. 
// 11. 
// 12. 
// 13. 
// 14. 
// 15. 


// Metadata
.metadata-set {
	@extend .flex;
	@extend .mini;
	margin-left: -8px;
	margin-right: -8px;
	
	& > * {
		padding: 1px 8px;
		
		.fa, .zmdi {
			padding-right: 0.2em;
		}
	}
}